
.createProjectTitle {
    text-align: center;
    font-size: 35px;
}

.horLabel,
label {
    font-size: 17px;
    font-weight: normal;
}

.form-row {
    padding-bottom: 40px;
}

.form-control {
    width: 100%;
    margin-left: 0px;
}

.textarea {
    display: block;
}

.inline-block {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.section-heading {
    text-align: center;
    padding-bottom: 30px;
}

.submit {
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.divider {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #8c8b8b;
    margin-top: 40px;
}

.question-cont,
.question-display {
    display: inline-block;
    width: 100%;
}

ul {
    list-style-type: none;
}

.collaborator-display {
    margin-top: 40px;
}

.addQuestionCont {
    text-align: center;
}

.sub-section-heading {
    text-align: center;
    margin-bottom: 25px;
    margin-top: -15px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}