
.createProjectTitle {
    text-align: center;
}

.horLabel {
    font-size: 18px;
}

.collabLabel {
    font-size: 16px;
}

.form-row {
    padding-bottom: 40px;
}

.textarea {
    display: block;
}

.section-heading {
    text-align: center;
    font-size: 22px;
    padding-bottom: 30px;
}

.submit {
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.divider {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #8c8b8b;
    margin: 40px 0px 0px 0px;
}