
nav > div > ul > li {
    background-color: "#F8F8F8";
    transition: 0.3s;
}

nav > div > ul > li:hover {
    background-color: white;
}

.app-cont-static {
    margin-top: -20px;
}

.app-cont-fixed {
    margin-top: 50px;
}