
nav > div > ul > li {
    background-color: "#F8F8F8";
    transition: 0.3s;
}

nav > div > ul > li:hover {
    background-color: white;
}

.nav-page-cont {
    height: 100%;
}

.app-cont-static {
    padding-top: 0px;
    height: 100%;
}

.app-cont-fixed {
    padding-top: 70px;
    height: 100%;
}